<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Le doy el titulo a la pestaña de mi articulo -->
    <title>Libertadores 2021: River visita a Argentinos Jrs. por un pasaje a Cuartos de Final</title>
  </head>
  <body>
    <!-- Le doy el Titulo a mi noticia -->
    <h1>River Plate ira en busca del pasaje que lo deposite en cuartos de final</h1>
    <!-- Le doy el subtitulo a mi noticia -->
    <h2>El conjunto de nuñez se medira este miercoles 21.30hs por transmision de ESPN</h2>
    <!-- Formulo el parrafo de mi noticia. Cuerpo de la noticia -->
    <p>Esta claro que no sera un partido comodo ni mucho menos para el equipo dirigido por Marcelo Gallardo, pero si hay algo que tiene este equipo son resultados importantes, victorias que en su momento se consideraron imposibles, catalogadas como "epicas" en su posterior. Esta batalla sera una mas para los de Nuñez, sabiendo que si consigue un gol durante los primeros 45 minutos, todo le sera mas claro. Veremos que depara el encuentro durante la noche de mañana. Transmision de ESPN desde las 21hs (Hora Argentina)</p>
<!-- Linkeo la imagen con ruta global -->
    <a href="https://media.tycsports.com/files/2021/07/14/307039/river-argentinos_1440x810_wmk.jpg?v=1"> Ver Foto: River vs Argentinos IDA</a>
<!-- Realizo un salto de pagina para que los hipervinculos queden uno abajo de otro -->
    <br> <a href="../index.html">Volver a : "¿Que le pasa a Jorge Carrascal?"</a>
      </body>
</html>
